.star-layer {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

@media (max-width: 480px) {
    .layer5, .layer4 {
        display: none;
    }
}