@font-face {
  font-family: 'WelcomeFont';
  src: url('../../public/fonts/Bumbbled.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.myfont {
  font-family: 'WelcomeFont', sans-serif;
}
